.transition{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.box:hover{
    /* width: 400px;
    height: 400px; */
    transition: all 01s ease-in-out;
    transform: translate(300px) rotateX(180deg);
    border-radius: 50%;
    background-color: red;
}